html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-responsive {
    max-height: 800px;
}

th, thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-1 {
    background-color: #004A93;
    color: white;
    z-index: 2;
}
